.text1{
    display: inline-block;
    width: 600px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

#img1{
    display: inline-block;
    border-top: 1px;
    margin-top: 1px;
    margin-left: 40px;
    position: relative;
    top: 1px;
   }

.text2{
    display: inline-block;
    width: 600px;
    padding: 10px;
    margin-top: 20px;
    
}

.img2{
    display: inline-block;
    margin-left: 40px;
    position: relative;
    top: 15px;
    z-index: 3;
}

.link1{
    position: relative;
    top: 50px;
}

.text4:hover{
    cursor: grab;
    color: #6efafff3;
}

h1:hover{
    background-color: white;
    color: rgb(221, 29, 61);
    cursor: no-drop;
}

a{
    color: aqua;
}

h1{
    background-color: rgb(255, 2, 2);
    padding: 5px;
}
